* {
  padding: 0;
  margin: 0;
}

:root {
  background-image: url('../../client/src/assets/backgrounds/asphalt.jpeg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}