.CardList {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    justify-items: center;
    margin: 30px;
    max-width: 1000px;
    margin: 0 auto;
}

.pagination {
   display: flex;
   flex-direction: row;
   justify-content: center;
}

.pagination h1 {
    color: #EAEEEF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
}

.paginButtons {
    color: #EAEEEF;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5em;
    background-color: #e6260000;
    border-radius: 20px;
    border: 1px solid transparent;
    transition: color 0.35s;
    padding: 20px;
}

.paginButtons:hover {
    color: #ff2400;
}

.searchInput {
    height: 30px;
    width: 500px;
    background-color: #EAEEEF;
    color: black;
    border: 1px solid transparent;
    text-align: center;
    font-size: 1.3em;
}

.searchContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.searchFilters {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 20px;
}