.navBar {
    background-color: #021342;
    color: #EAEEEF;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.f1_logo {
    height: 50px;
}

.navButton {
    height: 50px;
    width: 180px;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
    background-color: #ff2400;
    border-radius: 10px;
    border: 1px solid transparent;
    transition: background-color 0.35s, color 0.35s;
}

.navButton:hover {
    background-color: #981900;
    color: #EAEEEF;
}